body{
    font-family: Sans-Serif;
    font-size: 12px;
    border-width: 0px;
}
header{
    text-align: center;
    font-size: 18px;
    margin-bottom: 24px;
}
h1{
    font-size: 18px;
    font-style: italic;
    margin-bottom: 0px;
}
h1.number,h1.title{
    display: inline-block;
}
section{
    font-size: 16px;
    color: rgb(45,0,84);
    margin-bottom: 12px;
    border-bottom: 2px solid rgb(45,0,84);
}
section.course{
    font-size: 14px;
    font-variant: small-caps;
    color: black;
    border-width: 0px;
    display: inline;
}
h2{
    color: black;
    font-size: 16px;
    margin-top: 0px;
}
a:link{
    color: #CBB677;
    text-decoration: none;
}
a:hover{
    color: white;
    background-color: #CBB677;
    border: 0px solid white;
    border-radius: 5px;
}
footer{
    text-align: left;
    font-size: 10px;
    font-style: italic;
}
img{
    width: 130px;
    float: right;
    
}